<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="js/jquery-2.2.0.js"></script>
	    
	    <script src="js/angular.js"></script>
	    
		<link href="css/bootstrap.min.css" rel="stylesheet">
		
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
	    
	    <script id="logScript" src="js/log.js"></script>
	    
	    <style>
	    	
	    	tr > th
			{
				background-color: #484848;
				font-weight: bold;
				font-size: 1.1em;
				text-align: center;
				color: white;
			}
	    	
	    	td
			{
				text-align: center;
			}
			
			.successVal
			{
				font-weight: bold;
				color: #6666ff;
			}
			
			.errorVal
			{
				font-weight: bold;
				color: red;
			}
			
			.defaultVal
			{
				font-weight: bold;
				color: brown;
			}
			.resultBox
			{
				margin: 1em;
				margin-bottom: 2em;
			}
		</style>
		
	</head>
	
	<body ng-app="testLogApp" ng-controller="testLogAppController" ng-init="fetchJsonObjects()">
		
		<div class="resultBox" style="background-color: grey; color: white; padding: 0.5em; font-weight: bold;">
			<table>
				<tr>
					<td style="text-align: left;">Test Case: </td>
					<td style="text-align: left; padding-left: 2em;">{{testLogs.executorName}}</td>
				</tr>
				<tr>
					<td style="text-align: left;">Description: </td>
					<td style="text-align: left; padding-left: 2em;">{{testLogs.executorDescription}}</td>
				</tr>
			</table>
		</div>
		
		<div class="resultBox">
			<table class="table table-hover table-striped table-bordered" style="width: 100%;">
				<tr>
					<td colspan="3" style="background-color: #8585ad; font-weight: bold; font-size: 1em; color: black;">
						{{testLogs.executorName}}
					</td>
				</tr>
				<tr>
					<td style="width: 15%">
						<div class="btn-group">
						    <button type="button" class="btn btn-primary" style="max-width: 10em; min-width: 10em;">
						    	{{filterLevel}}
						    </button>
						    
						    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						      <span class="caret"></span>
						    </button>
						    
						    <ul class="dropdown-menu" role="menu">
						      <li><a href="#" ng-click="onChangeLevel('DEBUG')">DEBUG</a></li>
						      <li><a href="#" ng-click="onChangeLevel('ERROR')">ERROR</a></li>
						      <li><a href="#" ng-click="onChangeLevel('INFO')">INFO</a></li>
						      <li><a href="#" ng-click="onChangeLevel('TRACE')">TRACE</a></li>
						    </ul>
						</div>
					</td>
					<td colspan="2" style="width: 65%">
						<input placeholder="Search by message" ng-model="searchByMessage" class="form-control" style="margin: 0;"/>
					</td>
				</tr>
				<tr>
					<th style="width: 15%">Level</th>
					<th style="width: 65%">Message</th>
					<th style="width: 20%">Time</th>
				</tr>
				<tr ng-repeat="message in messages | filter:searchByMessage" ng-show="message.display">
					<td>
						{{message.logLevel}}
					</td>
					<td>
						{{message.message}}
							
						<a ng-if="message.imageFileName" href="../output/logs/{{message.imageFileName}}" target="_blank">
					       <img alt="{{message.imageFileName}}" src="../output/logs/{{message.imageFileName}}" 
					       	style="width: 30em; height: 20em; border: 1px solid black;"/>
					    </a>
					</td>
					<td>
						{{message.time}}
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>